<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" role="dialog" mode="over">
    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon aria-label="Add note" (click)="addNote()">add_circle_outline</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let note of notes; let i = index" href="#" (click)="selectNote(note)">
        <h4 class="title" mat-line>{{ note.title }}</h4>
        <p mat-line> {{ note.lastUpdated | date:'dd/MM/yyyy' }} </p>
        <button mat-icon-button>
          <mat-icon aria-label="Add note" (click)="deleteNote($event, note)">delete</mat-icon>
        </button>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular Markdown Editor</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="toggleMode('both')">
        <mat-icon>chrome_reader_mode</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleMode('editor')">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleMode('preview')">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
