<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" role="dialog" mode="over">
    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon aria-label="Add note" (click)="addNote()">add_circle_outline</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" *ngFor="let note of notes; let i = index" (click)="selectNote(note)">Nota {{ i + 1 }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular Markdown Editor</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
