.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

mat-toolbar {
  display: flex;
  flex-direction: row;
}

.spacer {
  flex: 1;
}

a.mat-list-item {
  display: flex;
  flex-direction: column;
}

a.mat-list-item p {
  font-size: 75% !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

/* a.mat-list-item span.title {
  flex: 1;
} */

mat-toolbar {
  display: flex;
  flex-direction: row;
}
